[submodule "submodule/hiredis"]
	path = submodule/hiredis
	url = https://github.com/redis/hiredis
[submodule "submodule/libevent"]
	path = submodule/libevent
	url = https://github.com/libevent/libevent.git
[submodule "submodule/boost"]
	path = submodule/boost
	url = https://github.com/boostorg/boost.git
[submodule "submodule/mysql-connector-cpp"]
	path = submodule/mysql-connector-cpp
	url = https://github.com/mysql/mysql-connector-cpp.git
[submodule "submodule/lua"]
	path = submodule/lua
	url = https://github.com/LuaDist/lua.git
[submodule "submodule/spdlog"]
	path = submodule/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "submodule/json"]
	path = submodule/json
	url = https://github.com/nlohmann/json.git
